body {
  background-image: url(`/files/pictures/powershot 7-14 626_Fotor_ inverted.jpg`);
  background-color: cornflowerblue;

}
ul {
  list-style: none;
}
li {
  display: inline;
}
#navBtn {
  margin: 20px;
}
.focus {
  color: magenta;
}
